body{
    background-image: url(img/winterleaves.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    margin-top: 55px;
    position:absolute;
    width: 200px;
    height:200px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 1;
}
@keyframes autoRun{
    0%{transform: perspective(1000px) rotateX(-20deg) rotateY(360deg);}
    50%{transform: perspective(1500px) rotateX(-20deg) rotateY(180deg);}
    100%{transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);}
}


.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))   
            translateZ(550px);
    opacity: 60%;
}

.banner .slider .item:hover{
    opacity: 100%;
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.navbar {background-color: transparent}
.navbar-brand{display: none;}

.credit{
    position: absolute;
    bottom:5px;
    right:20px;   
}

.jari{
    background-image: url(img/07_Jari_Promo.png);
    width: 100%;
    height: 95vh;
    position: absolute;
    bottom: 0;
    left:0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
}

