body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

#container{
    margin: 30px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}

.radiobuttons {
    display: flex;
    justify-content: center;
    
}

label{
    font-size:  2rem;
    font-weight: bold;
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

.Gbutton{
    margin-left: 20px;
    font-size: 2rem;
    background-color: rgb(23, 179, 36);
    padding: 10px 35px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 15px darkgreen;
}

.Gbutton:hover{
    background-color: rgb(33, 109, 224);
    box-shadow: 5px 5px 15px darkblue;
}

p{
    font-size: 2em;
    font-weight: bolder;
}

#diceResult{
    margin-top: 30px;
}

#diceImages{
    margin: 20px auto;
    background-color: white;
    padding-bottom: 30px;
}

#diceImages img{
    margin-top: 30px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}