.navbar-brand img {
    display: block;
    float: left;
    height: 150px;
    width: 300px;
    padding: 0px;
    object-fit: cover;
}

.navbar-nav .nav-link.active {
    color: rgb(202, 7, 0);
}

.navbar-toggler {
    border-color: white;
    color: white;
    background-color: white;
}

.nav-link:hover {
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 900;
}

.breadcrumb {
    margin-left: 30px;
    background: rgb(255, 255, 255);
    color: red;

    a:link {
        text-decoration: none;
        color: rgb(196, 65, 65);
    }

    a:visited {
        text-decoration: none;
        color: rgb(209, 43, 43);
    }
}

.breadcrumb-item.active {
    color: aqua;
}

@font-face {
    font-family: "Open sans";
    src:
        url(OpenSans-Bold.ttf)
}

body {
    
    background-color: black;
    color: white;

    a:link {
        text-decoration: none;
        color: white;
    }

    a:visited {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }
}

#score {
    text-align: center;
}

.game {
    margin-top: 100px; 
}

#game {
    
    width: 650px;
    height: 300px;
    border: 2px solid white;
    margin: auto;
    background-image: url("https://cdn.vectorstock.com/i/1000v/70/29/black-and-white-forest-game-background-landscape-vector-14067029.jpg");
    background-size: cover;
    overflow: hidden;
}

#dino {
    height: 75px;
    width: 75px;
    position: relative;
    top: 175px;
    background-image: url("plaatjes/trex.png");
    background-size: cover;
}

#rock {
    height: 50px;
    width: 50px;
    position: relative;
    top: 125px;
    left: 600px;
    background-image: url("plaatjes/cavia.jpg");
    background-size:cover;
    animation:  rock 1.33s infinite;
}

@keyframes rock {
    0%{left: 600px;}
    100%{left: -50px;}
}

#drg {
    height: 50px;
    width: 50px;
    position: relative;
    top: 125px;
    left: 600px;
    background-image: url("plaatjes/dragoon-ffxiv.jpg"); 
    background-size: cover;
    animation: drg 1.33s infinite;
}

@keyframes drg {
    0%{left: 600px;}
    12%{top: -50px;}
    25%{top: -25px;}
    50%{top: 75px;}
    75%{top: 120px;}
    100%{top: 155px; left: -50px;}
}

.jump-animation{
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 125px;}
    50%{top: 50px;}
    75%{top: 50px;}
    100%{top: 125px;}
}