
@font-face {
    font-family: "Open sans";
    src:
        url(OpenSans-Bold.ttf)
}

body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;
}

.bg-forest {
    background-image: url(plaatjes/stars.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 90%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;


}

#titel {
    h1 {
        font-weight: 900;
    }

    color: white;
}

.about-me {
    text-align: left;
    margin-top: 50px;
    margin-right: 100px;
}

.pfp {
    margin-top: 50px;
    width: 100%;
    height: 60%;
    object-position: 60% 40%;
    object-fit: cover;
    box-shadow: 2px 2px 20px darkred, -2px -2px 20px darkmagenta;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.of {
    height: 320px;

    overflow: hidden;

    h2 {
        padding-bottom: 20px;
    }
}

.image-wrapper {
    height: 200px;
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.7;
    /* box-shadow: 1px 1px 20px darkred, -1px -1px 20px darkmagenta;  */
}

.image-wrapper:hover {
    opacity: 1;
    transform: scale(1.1);
    /* border: white 2px solid; */
    box-shadow: 5px 5px 50px white, -5px -5px 50px white;
}