h1 {
    margin-top: 50px;
    text-transform: uppercase;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.1em;
    color: red;
    background-color: rgba(3, 104, 3, 0.7);
    border-radius: 30%;
    border-color: rgb(0, 24, 0);
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(10, 255, 112);
    box-shadow: 5px 5px 15px green, -5px -5px 15px green;
}
    


#countLabel{
    display: block;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}