body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(248, 248, 248, 0.801);
    color: rgb(255, 255, 255);
}


.navbar-brand{display: none;}


form {
    background-color: rgb(71, 0, 0);
    margin: auto;
    line-height: 1.4em;
    font-size: 1.6em;
    text-align: center;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(68, 0, 68);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

label{
    font-size:  1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.radio{
    margin-top: 20px;
}

#mySubmit{
    margin-top: 20px;
    font-size: 1.4em;
    background-color: rgb(23, 179, 36);
    padding: 10px 35px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 15px darkgreen;
}

#mySubmit:hover{
    background-color: rgb(33, 109, 224);
    box-shadow: 5px 5px 15px darkblue;
}

p{
    margin-top: 30px;
    font-size: 2em;
    font-weight: bolder;
}