#logo {
    display: block;
    float: left;
}

#navi {
    background-color: #E8F1F2;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding: 10px
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
     padding: 0px;
}

li{
    padding-left: 50px;
}

.text-center {
    text-align: center;
}


.container {
    max-width: 990px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1400px;
    margin: 0 auto;
}

#navigatie {
    
justify-content: center;

}
.links {
    
    font-size: 24px;
    font-weight: bolder;
    padding-top: 20px;
    
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: center;
}

#hlogo img {
    width: 275px;
    height: 100px;
    margin-top: 50px;
}

#header-img img {
    max-width: 100%;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#titel h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

#titel {
    margin-bottom: 25px;
}

#titel2 h2 {
    font-size: 30px;
    letter-spacing: 5px;
    padding-top: 120px;
    padding-bottom: 20px;
}

.longpic img {
    width: 425px;
    height: 600px;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    object-fit: cover;
}

.shortpic img {
    width: 425px;
    height: 400px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    object-fit: cover;
}

.img-hor-vert {
    transform: rotateY(180deg);
}

.section-3 {
    margin-top: 100px;
    background-color: #E8F1F2;
}

.section-3 p {
    font-size: 14;
    line-height: 200%;
    margin-bottom: 150px;
}

#paard {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 100% 24%;
}

#dikP {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 50px;


}

.flexbox {
    display: flex;
}

.section-4 {
    margin: 100px 0;

    h2{
    letter-spacing: 5px;
    }
}

#tekst {
    justify-content: left;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 200%;
    
    padding-right: 50px;
    width: 300%;
    /* border: solid 3px black; */
}

#form {
    text-align: right; 
    /* width: 600px; */
    
}

.bh2 {
    font-size: larger;
    width: 400px;
    height: 35px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(5, 5, 105);
    margin-bottom: 10px;
}

.bbh2 {
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    font-weight: 500;
    width: 400px;
    height: 35px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 150px;
    border: 1px solid rgb(5, 5, 105);
    margin-bottom: 10px;
}

.knop {
    width: 422px;
    height: 45px;
    border: 1px solid rgb(5, 5, 105);
    background-color: rgb(5, 5, 105);
    font-size: large;
    color: white;
    text-align: center;
}

#foot {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #E8F1F2;
    padding: 40px;
}

.fa-brands {
    font-size: 110%;


}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #E8F1F2;
    color: #000000;
    font-size: 20px;
    padding: 2px;
    margin: 10px;
}

@media screen and (max-width: 880px) {

    .flexbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }


    .container-lg{
        width: 700px;
    }

    .flexbox {
        flex-wrap: wrap;
    }

    .longpic img {
        display: none;
    }

}