        main {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {

            background-color: white;
            color: black;

        }

        .dark-mode {
            background-color: black;
            color: white;
        }


       @font-face {
        font-family: "montserrat";
        src: url(../fonts/Montserrat-Bold.ttf);
       } 

        .container {
            max-width: 990px;
            margin: 0 auto;
        }

        .container-lg {
            max-width: 1100px;
            margin: 0 auto;
        }


        #logo {
            display: block;
            float: left;
        }

        #navi {
            background-color: rgb(222, 247, 222);
            display: flex;
            align-self: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #intro {
            font-weight: bold;
        }

        a:link {
            text-decoration: none;
            color: black;
        }

        a:visited {
            text-decoration: none;
            color: black;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }


        h3 {
            font-style: italic;
            color: blueviolet;
        }

        h4 {
            font-weight: bold;
        }

        h5 {
            font-size: 1.2rem;
        }

        p {
            max-width: 1000px;
            font-size: 1rem;

        }

        .center {
            display: flex;
            justify-content: center;
        }

        .fa-brands {
            font-size: 200%;

        }


        #section-1 .kolom img {
            width: 300px;
            height: 200px;
            border: 30px rgb(222, 247, 222);
        }

        #section-2 .kolom {
            display: block;
            max-width: 50%;
            width: auto;
            margin: 20px;
        }

        #section-3 .kolom img {
            width: 1000px;
            height: 400px;
            border: 5px solid rgb(222, 247, 222);
            object-fit: cover;
        }


        #section-4 img {
            display: flex;
            width: 200px;
            height: 200px;
            margin: 10px;
            border: 3px black;
        }

        #section-5 img {
            display: flex;
            width: 200px;
            height: 200px;
            margin: 10px;
            border: 3px black;
        }

        #section-6 img {
            display: flex;
            width: 200px;
            height: 200px;
            margin: 10px;
            border: 3px black;
        }

        #top-p p {
            font-weight: bold;
            margin-top: 100px;
        }

        .meer p {
            background: rgb(222, 247, 222);

            padding: 10px;
            font-family: "montserrat";
            font-weight: bolder;
        }

        #balkje {
            display: block;
            margin-top: 100px;
            padding: 1px;
            background-color: rgb(222, 247, 222);

        }

        footer {

            .row {
                  display: flex;            
                justify-content: space-evenly;
            }

            .kolom {
                display: flex;
                justify-content:center;
                flex-wrap: wrap;
                width: 30%;
                height: 250px;
                margin-right: 30px;
                
            }

            .kolom2 {
                width: 40%;
                height: 300px;
                margin-right: 100px;
            }

            .kolom3 {
                width: 30%;
                height: 300px;
                margin-right: 100px;
            }

            .contact-table-row{
                display: flex;
                justify-content: space-between;
            }

            #kolom-logo {
                margin-right: 100px;
                margin-left: -50px;

            }

            .kolom img {
                width: 300px;
                height: 150px;
            }

            
        }



        @media only screen and (max-width: 767px) {
            .row {
                display: block;
            }

            #section-2 .kolom {
                margin: auto;

            }

        }